<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.cuni.pedf.vovap.jirsak.geostezka">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".utils.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_white"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/GeoThemeWelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DashboardActivity"
            android:icon="@drawable/icon_logo_dark_transp"
            android:label="@string/menuNastenka" />

        <activity android:name=".SettingsActivity" />

        <activity
            android:name=".TaskCamActivity"
            android:theme="@style/GeoThemeTaskActivity"
            android:icon="@drawable/icon_logo_dark_transp"/>
        <activity
            android:name=".TaskDragDropActivity"
            android:theme="@style/GeoThemeTaskActivity"/>
        <activity
            android:name=".TaskQuizActivity"
            android:theme="@style/GeoThemeTaskActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TaskARTestActivity"
            android:theme="@style/GeoThemeTaskActivity"/>
        <activity
            android:name=".TaskGridActivity"
            android:theme="@style/GeoThemeTaskActivity"/>
        <activity
            android:name=".QRReadActivity"
            android:theme="@style/GeoThemeTaskActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TaskSwipeActivity"
            android:theme="@style/GeoThemeTaskActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".TaskDrawActivity"
            android:theme="@style/GeoThemeTaskActivity"
            android:screenOrientation="landscape"/>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_API_KEY">
        </meta-data>
    </application>

</manifest>